{{ define "main" }}
	<main>
		<h1 class="f3 f3-m f1-l dark-blue">
			<a href="{{ .Params.Link }}" >{{ .Title }}</a>
		</h1>
		<article class="notes lh-copy measure-wide">
			{{with .Params.Subtitle }}
				<p class="f6 dark-blue">{{ . }}</p>
			{{ end }}

			{{with .Summary }}
				<p class='b'>Summary</p>
				<p class="">{{ . }}</p>
			{{ end }}

			{{ with .Params.Link }}
			<p class='b'>Source</p>
			<p class=""><a href="{{ . }}">{{ . }}</a></p>
			{{ end }}

			{{ with .Params.Authors }}
				{{if gt (len .) 1}}
				<p class='b'>Authors</p>
				{{ else }}
				<p class='b'>Author</p>
				{{ end }}
				<ul>
					{{ range .}}
						<li><a href="{{ .link }}">{{ .name }}</a></li>
					{{ end}}
				</ul>
			{{ end }}


			<div class="content">
				<hr>
				{{ .Content }}
			</div>
		</article>
	</main>
{{ end }}
