<header>
	<nav class="">
		<div class="nowrap overflow-x-auto">
			<a class="link blue f6 f5-ns dib mr1" href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
			<span class=" blue f6 f5-ns dib mr1">&#8226;</span>
			<a class="link blue f6 f5-ns dib mr1" href="{{ .Site.BaseURL }}post/">Posts</a>
			<span class=" blue f6 f5-ns dib mr1">&#8226;</span>
			<a class="link blue f6 f5-ns dib mr1" href="{{ .Site.BaseURL }}notes/">Notes</a>
			<span class=" blue f6 f5-ns dib mr1">&#8226;</span>
			<a class="link  blue f6 f5-ns dib mr1" href="{{ .Site.BaseURL }}about">About</a>
		</div>
	</nav>
</header>
