{{ define "main" }}
	<main>
		<p class="lh-copy measure-wide">
			Hello. My name is Alex Kessinger. I'm a principal engineer @ Stitch Fix. I write
			about what I'm reading, researching, and thinking. Find me on twitter <a href="https://twitter.com/voidfiles">@voidfiles</a>.
		</p>
		<p>Welcome to my webpage.</p>
		<img src="{{ "/img/firebar.gif" | absURL }}" alt="early internet animated gif of fire">
		<h1 class="dark-blue">Latest Posts</h1>
		{{ $paginator := .Paginate (where .Site.RegularPages "Type" "in" .Site.Params.mainSections) }}
		{{ range $paginator.Pages }}
			{{ .Render "summary" }}
		{{ end }}
		{{ partial "pagination.html" . }}
	</main>
{{ end }}
